<title>Welcome</title>
<div class="container">
  <div class="p-2 bg-dark shadow rounded">
    <h1 class="display-1 text-light">Welcome</h1>
    <p class="text-light">Management composition laboratory teams software</p>
  </div>
  <br>
  <div class="p-2 bg-dark shadow rounded">
    <div class="row">
      <div id="side-menu"  class="col-sm-3">
      </div>
      <!-- side-menu -->
      <div id="main-content" class="col-sm-9">
      </div>
      <!-- main-content -->
    </div>
  </div>
