
<div class="container pt-3">
    <nav class="nav nav-pills nav-fill bg-dark shadow rounded p-2">
    <a class="nav-link active bg-light text-dark" aria-current="page" href="#">Active</a>
    <a class="nav-link text-light" href="#">Much longer nav link</a>
    <a class="nav-link text-light" href="#">Link</a>
    </nav>
</div>
